doctype html
html
    head
        title Natours | #{tour}
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png?v=1.0')
    body
        h1= tour
        p= user